<div class="heading"><h1>{{title}}</h1></div>
<div class="detailsForm">
<form id="form">
<div><label class="label">Name:</label> <input type="text" name="Name" autocomplete="off"/></div>
<div><label class="label">Age:</label> <input type="text" name="age"/></div>
<div><label class="label">Gender:</label> Male <input type="radio" name="gender"/> Female <input type="radio" name="gender"/></div><br/>
<div><label class="label">Location:</label> <textarea name="location" rows="4" cols="50"></textarea></div>
<div><label class="label">Have you ever had any of the following? </label>
<select name="existingDisease" id="existingDisease">
  <option value="None">None</option>
  <option value="Heart Disease">Heart Disease</option>
  <option value="Diabetes">Diabetes</option>
  <option value="Cancer">Cancer</option>
  <option value="Kidney Disease">Kidney Disease</option>
  <option value="High Blood Pressure">High Blood Pressure</option>
</select></div>
<div><label class="label">Are you experiencing any of the following symptoms? </label>
<select name="symptoms" id="symptoms">
  <option value="None">None</option>
  <option value="Breathing Problem">Breathing Problem</option>
  <option value="Dry Cough">Dry Cough</option>
</select> </div>
<div><label class="label">Do you have any foreign travel history in last two months?</label> Yes <input type="radio" name="foreignTravel"/> No <input type="radio" name="foreignTravel"/></div> <br/>
<div class="submit"><a routerLink="/results" routerLinkActive="active"><input type="submit" value="Submit"/></a>
<a routerLink="/" routerLinkActive="active"><input type="submit" value="Clear" (onClick)="onSubmit()"/></a></div>
</form>
</div>

<router-outlet></router-outlet>
